.summaryHeading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Read More Button style */
.readMoreBtn {
    margin: 5px 0px 5px 0px;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    padding: 7px;
    border: none;
    cursor: pointer;
}

/* Get New Info button styling*/
.centerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.getNewInfo {
    background-color: green;
    color: white;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 7px;
    cursor: pointer;
    border: none;
}